//COLOURS
$white: #fff;
$light-blue: #0091FF;
$dark-blue: #12326B;
$dark-grey: #757575;
$grey: #9E9E9E;
$light-grey: #f2f2f2;

$red: #ef476f;

$hover-box-colour: #E0F2FF;

//OTHER

$text-shadow: 2px 2px 15px #000;
$font-family: 'Cairo', sans-serif;;
$font-size: 100%;
$small-laptop-breakpoint: 1050px;

//USEFUL CLASSES

.white {
  color: $white;
}

.light-blue {
  color: $light-blue;
}

.dark-blue {
  color: $dark-blue;
}

.light-grey {
  color: $light-grey;
}

.grey {
  color: $grey;
}

.button {
  background-color: $red;
  color: $white;
  padding: 5px 30px;
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: background-color .3s ease;
  &:hover {
    background-color: darken($red, 20%);
  }
}

.button-alt {
  background-color: $light-blue;
  color: $white;
  padding: 5px 30px;
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 1px;
  transition: background-color .3s ease;
  display: flex;
  align-self: center;
  margin: 50px auto;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background-color: darken($light-blue, 20%);
  }
}